:root {
    --primary-color: #1a202c;
    --secondary-color: #38a169;
}

body { 
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

header { 
    margin: 0;
    padding: .5rem .5rem;
    background: var(--primary-color);
    color: #fff;
}

header h1 { margin: 0; font-size: 1.5rem; line-height: 2rem; }
h3 { margin: 0; font-size: 1rem; line-height: 1.5rem; }

#sidebar {
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100vh;  
    background-color: var(--primary-color);
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 60px);  
    overflow: auto;
   border: rgba(0, 0, 0, 0.15);
}

#sidebar form input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#sidebar form input:hover, 
#sidebar form input:focus {
    background-color: var(--secondary-color);
}

#sidebar form button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
}

#sidebar form button:hover, 
#sidebar form button:focus {
    background-color: var(--secondary-color);
}

#sidebar ul li {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    display: block;
}

#sidebar ul li:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

#messageForm { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 17%;  /* Adjust to the same value as sidebar width */
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#messageInput { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
    border: 1px solid var(--primary-color);
}

#messageInput:focus { 
    outline: none; 
}

#messageForm > button { 
    width: 4rem; /* adjust as needed */
    height: 2.1rem; /* reduced height */
    background: var(--secondary-color); 
    border: none; 
    padding: 0 1rem; /* adjust padding */
    margin: 0.25rem; 
    border-radius: 2rem; 
    outline: none; 
    color: #fff; 
    display: flex;  /* to center the text, you might need to adjust according to your content */
    align-items: center;
    justify-content: center;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    padding-right: 17%;  /* Adjust to the same value as sidebar width */
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
    background: #efefef; 
}